
@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: local('font/Optima'), url('font/OPTIMA.woff') format('woff');
}
@font-face {
  font-family: 'UllikummiA';
  font-style: normal;
  font-weight: normal;
  src: local('font/UllikummiA'), url('font/UllikummiA.ttf') format('ttf');
}
@font-face {
  font-family: 'Lycian';
  font-style: normal;
  font-weight: normal;
  src: local('font/NotoSansLycian-Regular'), url('font/NotoSansLycian-Regular.ttf') format('ttf');
}
html {
  line-height: 1.5;
  font-family: Optima, sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #1a1a1a;
}
body {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
cunei {
  line-height: 1.5;
  font-family: 'UllikummiA';
  font-size: 50px;
}
lyc {
  line-height: 1.5;
  font-family: 'UllikummiA';
  font-size: 50px;
}
a:link {
  color: #fcf803;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #fcc203;
  background-color: transparent;
  text-decoration: none;
}
